 <% @entity.addresses.each do |add| %>
 
 <div class="fields">

 <div class="row">
  <div class="form-group col-md-4">
  <input id="entity_addresses_attributes_0_street" type="text" name="entity[addresses_attributes][0][street]" class="form-control" placeholder="stree name" value="<%= add.street %>">
  </div>
  </div>

 <div class="row">
   <div class="form-group col-md-2">
    <input id="entity_addresses_attributes_0_city" type="text" name="entity[addresses_attributes][0][city]" placeholder="city name" value="<%= add.city %>">
     </div>
 <div class="form-group col-md-4">
  <input id="entity_addresses_attributes_0_state" type="text" name="entity[addresses_attributes][0][state]" placeholder="State" value="<%= add.state %>">
    </div>
    </div>

 <div class="row">
  <div class="form-group col-md-2">
   <input id="entity_addresses_attributes_0_zip" type="number" name="entity[addresses_attributes][0][zip]" placeholder="zip code" value="<%= add.zip %>" >
     </div>

 <div class="form-group col-md-4">
  <input id="entity_addresses_attributes_0_country" type="text" name="entity[addresses_attributes][0][country]" value="<%= add.country %>" >
    </div>
      </div>

 <div class="row">
  <div class="form-group col-md-4">
     <input id="entity_addresses_attributes_0_tmo" type="number" name="entity[addresses_attributes][0][tmo]" class="form-control" placeholder="TMO CODE" value="<%= add.tmo %>">
     </div>
     </div>
 <div class="row">
 <div class = "form-group col-md-3">
   <input id="entity_addresses_attributes_0__destroy" type="hidden" name="entity[addresses_attributes][0][_destroy]" >
   </div>

<a class="remove_nested_fields" href="javascript:void(0)" data-association="addresses">Remove this task</a>

</div>
<% end %>