<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Selector:</strong>
  <%= @entity.selector %>
</h3></p>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Entity name:</strong>
  <%= @entity.entity_name %>
</h3>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Existing type:</strong>
  <%= @entity.existing_type %>
</h3>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Billing:</strong>
  <%= @entity.billing %>
</h3>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Credit:</strong>
  <%= @entity.credit %>
</h3>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
  <strong>Notes:</strong>
  <%= @entity.notes %>
</h3>
</div>
</div>

<div class="row">
<div class="col-md-4 col-md-offset-2">
<h3>
<strong>Disable person:</strong>
  <%= @entity.disable_person %>
</h3>
</div>
</div>


<address>

<div class="row">
<div class="col-md-4 col-md-offset-2">

  
  <% @entity.addresses.each do |add| %>
  <h3><strong>Address </strong></h3>
 <h4> <%= add.street %> </h4>
 <h4> <%= add.city %> </h4>
 <h4> <%= add.country %> </h4>
 <h4> <%= add.zip %> </h4>
 <h4> <%= add.tmo %></h4>
 <h4> <%= add.state %> </h4>

  <% end %>
</div>
</div>  
</address>



<div class="row">
<div class="col-md-4 col-md-offset-2">
<h5><%= link_to 'Edit', edit_entity_path(@entity) %></h5> 
<h5><%= link_to 'Back', entities_path %></h5>
</div>
</div>
