
<p id="notice"><%= notice %></p>

<center><h1>Listing users</h1></center>


  
 

  <div class = "container">
      <div class="row">
        <div class="col-md-4 " >
          <h3>   <%= link_to 'New Person', new_user_path %> </h3>
          </div>
          
           <div class="col-md-4 ">
                
            <h3>     <%= link_to 'Disabled person', disabled_users_path %></h3>
          </div>
          <div class=" col-md-4" >
            <ul>
               <%= label_tag :key_contact %>
           <%= check_box_tag :key_contact, params[:search] , name: "key_person"%>
             </ul>
             <%= form_tag(users_path, :method => "get", id: "search-form") do %>
             <%= text_field_tag :search, params[:search], placeholder: "Search" %>
             <%= submit_tag "Search" %>
             <% end %>
          </div>
      </div>
  
   
</div>

      <div class="container">
      
      
     
          
         <div class="col-sm-12">
           <table  class="table table-condensed">
             <thead>
                <tr>
                  <th>First Name</th>
                  <th>Email</th>
                  <th> Entry date </th>
                  <th> Tags</th>
                </tr>
              </thead>
              <tbody>
              <% @users.each do |user| %>
    
                 <tr>
                    <td class="col-md-2"><h3><%= link_to user.first_name ,user %></h3></td>
                    
                    <td class="col-md-2"><h3><%= link_to user.email %></h3></td>
                    <td ><h3> <p class="date"><%= user.created_at.strftime("%B, %D, %Y")%></p></h3></td>
                    <td class="col-md-4"><h3><%= raw user.tag_list.map { |t| link_to t ,  tag_users_path(t)  }.join(', ') %></h3></td>
                    <td class="col-md-2"> <h3><%= link_to 'Edit', edit_user_path(user) %> </h4>
                    <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %> </h3> </td>

                  </tr>
                  <% end %>
                  </tbody>
                  
                  
                  </table>
                  </div>
                  </div>
                  </div>
                

                  


    
  
    <div class="container">
      <div class="row">
       <div class="col-md-3 col-md-offset-3">
        <h4> <%= will_paginate @users %> </h4>
       </div>
      </div>
    </div>
</div>
