<!DOCTYPE html>
<html>
<head>
  <title>Clientdata</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class = "navbar navbar-inverse" > 
   <div class ="container_fluid">
    <div class="navbar-header">  

    </div>


   <form class="nav navbar-nav navbar-left">
    

   <li class=" col-md-4"> <h3> <%= link_to "Person", users_path %></h3></li>

      <li class=" col-md-4"><h3><%= link_to "Entities", entities_path %></h3></li>
      </li>
      <li class=" col-md-3"> <h3> <%= link_to "Activities", activities_path %></h3></li>

</form>

 
 <form class="nav navbar-nav pull-right">
<div id="sign_in">
<ul class="nav navbar-nav col-md-offset-5">
       <% if user_signed_in? %>
      <li  ><h3> <%= link_to "Sign Out", destroy_user_session_path , method: :delete %></h3></li>
      <% else %>
    <li ><h3> <%= link_to "Sign In", new_user_session_path %></h3></li>
    <li ><h3> <%= link_to "Sign Up",  new_user_registration_path %></h3></li>
     <% end %>
     </ul>
      </div>
      </form>

     </ul>
      </ul>
      </div>
      </nav>

<%= yield %>

</body>
</html>
